.single-artist {

    // page striping
    > section {
        @extend %page-section-striping;
    }

    // elements that align text to the right
    .single-artist-main,
    .section-installations .section-header,
    .section-video {
        text-align: right;
    }

    // style any h2 element inside the intro
    .single-artist-main h2 {
        @include trade-bold;
        font-size: 1.25rem;
        margin: $stanPad 0;
        text-transform: uppercase;
    }

    // where to enable obvious link focus states
    .section-header,
    .single-artist-main,
    .section-installations,
    .single-artist-press-list {
        a:focus {
            @include focus-links;
        }
    }

}

// the list of this artist's exhibitions
.single-artist-exhibition-list {
    margin: 0 0 $stanPad 0;
    li {
        list-style-type: none;
        margin-bottom: 0.25rem;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            background: none;
            border-left: 0.38rem solid #333333;
            border-right: 0.38rem solid #c8c7c7;
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: 0.75rem;
            margin-right: 0.5rem;
            position: relative;
            width: 0;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// the press clipping list
.single-artist-press-list {

    h3 {
        font-size: inherit;
    }

    span.press-title {
        @include trade-black;
    }

    span.pub-name {
        font-style: italic;
    }

    li {
        margin-bottom: $stanPad;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

}