.single-exh-header {
    .artist-names {
        
    }
}

.single-exh-main {
    text-align: right;
    a:focus {
        @include focus-links;
    }
}

.single-exh-dl {

    line-height: 1.3;
    margin: 0;
    position: relative; // constrains the 100%-width elements
        
    .dates {
        text-transform: uppercase;
    }

    dt,
    dd {
        display: inline-block;
        width: 100%;
    }

    dt.inline,
    dd.inline {
        display: inline;
    }

    dd.reception,
    dt.reception,
    dt.attendance {
        font-size: 0.8rem;
    }

}

.single-exh-entry-content {
    margin-top: $stanPad;
}