.single-work {

    // page striping
    > section {
        @extend %page-section-striping;
    }

    .main-image-space {
        img {
            display: block;
            &:focus {
                @include focus-outline;
            }
        }
    }

    .post-title {
        hyphens: auto;
    }

    .section-header {
        text-align: right;
    }

}



.single-work-details {
    margin: 2rem 0 0 0;
    padding: 0;
    li {
        text-align: right;
    }
    span {
        @include trade-bold;
        text-transform: uppercase;
    }
}

.single-work-variation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.single-work-inquiry-prompt-space {
    text-align: right;
    a {
        @include trade-bold;
        -webkit-appearance: none;
        background: black;
        border: none;
        border-radius: 0;
        color: white;
        display: inline-block;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}


.single-work-inquiry-overlay {
    background: black;
    color: white;
    .section-hed.underlined:before {
        background: white;
    }
}

.single-work-inquiry-form-space {
    
    input[type="text"],
    input[type="email"],
    textarea {
        border-radius: 0;
        margin: 0;
    }
    
    textarea {
        max-height: 5rem;
        padding: 0.5rem 12px;
    }
    
    input[type="submit"]{
        @include trade-bold;
        float: right;
    }

    @include responsive(25){

        form p:last-of-type {
            display: none; // hides p containing hidden fields
        }

        @supports (display: grid){
            form {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: 1fr 1fr;
                margin-top: $stanPad;
            }
            p {
                margin: 0;
            }
            p:nth-child(4),
            p:nth-child(5){
                grid-column: span 2;
            }
        }
    }

    // adjust the positioning within the screen
    @include responsive(3){
        left: 7.5%;
        width: 80%;
    }
    @include responsive(4){
        left: 17.5%;
        width: 60%;
    }
    @include responsive(5){
        left: 22.5%;
        width: 50%;
    }
}

.single-work-inquiry-overlay {
    .section-header {
        margin-bottom: 3rem;
    }
    @include responsive(35){
        .section-header {
            padding-right: 25%;
        }
        .section-content {
            padding-right: 25%;
            padding-left: 25%;
        }
    }
}