%btn {
  @include rounded(2px);
  @include trade-bold;
  background: none;
  border: 1px solid black;
  color: $text-color;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    background: $text-color;
    color: white;
    text-decoration: none;
  }

  &.reverse {
    background: $text-color;
    color: white;
    &:hover,
    &:focus {
      background: white;
      color: $text-color;
    }
  }

} // end .button

button,
.btn,
input[type="submit"] {
  @extend %btn; // here we load the btn defaults

  &:hover,
  &:focus {} // end hover

  &:active {} // end active

} // end button
