// nod to: http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html

.range-input {
    
    border: 1px solid white; // fix for FF unable to apply focus style bug
    -webkit-appearance: none;

    // track styles

    &::-webkit-slider-runnable-track {
        background: $gray-menu;
        border: none;
        border-radius: 3px;
        height: 0.25rem;
    }

    &::-moz-range-track {
        background: $gray-menu;
        border: none;
        border-radius: 3px;
        height: 0.25rem;
    }

    &::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 0.25rem 0;
        color: transparent;
        height: 0.25rem;
    }

    &::-ms-fill-lower {
        background: #777;
        border-radius: 10px;
    }

    &::-ms-fill-upper {
        background: $gray-menu;
        border-radius: 10px;
    }

    // thumb styles

    &::-webkit-slider-thumb {
        background: white;
        border: 5px solid black;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
    }

    &::-moz-range-thumb {
        background: white;
        border: 5px solid black;
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -0.375rem;
    }

    &::-ms-thumb {
        background: white;
        border: 5px solid black;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
    }

    // miscellaneous

    &:focus {
        outline: none;
    }

    &:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }

    &:-moz-focusring {
        outline: 1px solid white;
        outline-offset: -1px;
    }

    &:focus::-moz-range-track {
        background: #ccc;
    }

    &:focus::-ms-fill-lower {
        background: #888;
    }

    &:focus::-ms-fill-upper {
        background: #ccc;
    }

}

.range-component {
    padding-bottom: 2.25rem !important; // a little extra padding, to compensate for range handle dipping down
    .range-value-indicator {
        margin-bottom: -0.25rem;
    }
    span {
        font-size: 0.8rem;
        line-height: 1;
        margin-right: 0.25rem;
    }
    .component-group {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.search-filters {

    .multirange-dummy {
        font-size: 0.8rem;
        height: 1rem;
        line-height: 1;
        margin: 0 0 1.25rem 0;
        padding: 0;
        text-align: right;
        @include responsive(35){
            margin-bottom: 0.75rem;
        }
    }

    .multirange-input {
        background: darken($gray-light,10%);
        height: 0.25rem;
        margin: 1.5rem 0 0 0;
        margin: 1.5rem 1rem 0 0;
        position: relative;
        &:after {
            background: darken($gray-light,10%);
            content: '';
            display: block;
            height: 0.25rem;
            position: absolute;
            right: -1rem;
            top: 0;
            width: 1rem;
        }
        @include responsive(35){
            margin: 0 1rem 0 0;
        }
    }

    .ui-slider-range {
        background: $gray-menu;
        display: block;
        height: 0.25rem;
        position: absolute;
    }

    .ui-slider-handle {
        background: white;
        border: 7px solid black;
        border-radius: 50%;
        display: block;
        height: 1.5rem;
        position: absolute;
        top: -0.667rem;
        width: 1.5rem;
        z-index: 1;
        &:focus {
            border-color: $blue;
        }
        @include responsive(35){
            border: 5px solid black;
            height: 1rem;
            top: -0.375rem;
            width: 1rem;
            &:focus {
                border-color: $blue;
            }
        }
    }

}