.tile-expanded {
    ul {
        // display: none;
        hyphens: auto;
        margin: 0;
        li {
            hyphens: auto;
            margin: 0;
        }
    }
}

.tile-expanded {
    position: relative;
    > ul {
        background: rgba(0,0,0,0.7);
        color: white;
        display: block;
        display: none;
        height: 100%;
        height: 90%;
        font-size: 13px;
        left: 0;
        margin: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        ul {
            margin: 0;
            padding: 0;
        }
    }
}