$root:          "/";
$themeDir:      $root + "wp-content/themes/lago/";
$imgs:        	$themeDir + "library/images/";
$stanPad: 		1rem;
$transDur: 		0.25s;

// normalize: http://necolas.github.io/normalize.css/
@import "base/normalize";

// Sass variables
@import "base/color";

// color palette
@import "base/variables";

// typography
@import "base/typography";

// Sass functions
@import "base/functions";

// import mixins
@import "base/mixins";

// mobile breakpoints
@import "base/breakpoints";

// the grid
@import "base/grid";

// an inline-block, negative-margin grid created for lago
@import "base/lago-grid";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";


/* ==================
GENERAL STYLES
===================== */

/*html {
	font-size: calc( 1em + 1vw );
}*/

body {
	@include trade;
	// font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
	height: auto;
	max-width: 100%;
}

b, strong {
	@include trade-black;
}

p {
	margin: 0 0 1em 0;
}

.video-wrapper {
  height: 0;
  margin: 0 0 1em 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  iframe {
		border: none;
    height: 100%;
    left: 0;
    position: absolute !important;
    top: 0;
	width: 100%;
	&:focus {
		@include focus-outline;
	}
  }
}

// 'visually hidden' class
.vh {
	@include accessible-hide;
}

.skip-link {
	position: absolute;
	top: 0;
	right: 100%;
	&:focus {
		right: auto;
	}
}

main > section {
	padding: 2rem 0;
	@include responsive(35){
		padding: 4rem 0;
	}
	&:first-child {
		padding-top: 0;
	}
}

.laser {
	position: relative;
	&:before {
		background: red;
		content: '';
		display: block;
		position: absolute;
		z-index: 1000;
	}
	&.left:before {
		height: 10000%;
		left: -1px;
		top: -50%;
		width: 1px;
	}
	&.right:before {
		height: 10000%;
		right: -1px;
		top: -50%;
		width: 1px;
	}
	&.top:before {
		height: 1px;
		left: -50%;
		top: -1px;
		width: 10000%;
	}
	&.bottom:before {
		bottom: -1px;
		height: 1px;
		left: -50%;
		width: 10000%;
	}
}

/* ==================
LAYOUT & GRID STYLES
===================== */

/*.wrap {
	width: 100%;
	margin: 0 auto;
	@include responsive(3){
		width: 740px;
	}
	@include responsive(4){
		width: 920px;
	}
	@include responsive(5){
		width: 1040px;
	}
}*/

/* ==================
LINK STYLES
===================== */

a, a:visited {
	color: $link-color;

	// mobile tap color
	&:link {
		/*-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );*/
	}
}

/* ==========================
H1, H2, H3, H4, H5 STYLES
============================= */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	margin-top: 0;
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5rem;
	line-height: 1.333;
}

h2, .h2 {
	font-size: 1.75rem;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

// assign page-title styles to mixins, bc
// we occasionally want to style h2s like h1s, 
// and vice-versa
@mixin page-title-weight-1 {
	font-family: "TradeGothicLTCom-BdCn20";
	font-size: 1.75rem;
	line-height: 1.2;
	line-height: 1.1;
	margin-bottom: 0.75rem;
	padding-bottom: 0.75rem;
	text-transform: uppercase;
	@include responsive(35){
		font-size: 2.5rem;
	}
}
@mixin page-title-weight-2 {
	font-family: "TradeGothicLTCom-BdCn20";
	font-size: 1.5rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	padding-bottom: 0.3rem;
	text-transform: uppercase;
	@include responsive(35){
		font-size: 1.75rem;
	}
}

.post-title, .page-title {
	@include page-title-weight-1;
}

.section-hed {
	@include page-title-weight-2;
	@include responsive(35){
		margin-bottom: 0;
	}
}

.post-title, .page-title, .section-hed {
	&.right {
		text-align: right;
	}
	&.underlined {
		position: relative;
		&:before {
			background: black;
			bottom: 0;
			content: '';
			display: block;
			height: 5px;
			position: absolute;
			right: 0;
			width: 10000%;
		}
	}
	&.pg-t-w-1 {
		@include page-title-weight-1;
	}
	&.pg-t-w-2 {
		@include page-title-weight-2;
	}
}

%page-section-striping {
	&:nth-child(even){
		background: $gray-light;
	}
}

/*.padded-section {
	padding: 2em 1em;
	&:first-child {
		padding-top: 0;
	}
	@include responsive(35){
		padding: 4em 0;
	}
}*/



/* ==================
HEADER STYLES
===================== */

@import "partials/header";


/* =====================
POSTS & CONTENT STYLES
======================== */
@import "partials/post-page.scss";


/* ==================
PAGE NAVI STYLES
===================== */
@import "partials/page-navi";


/* ==================
INTERNAL SECTION NAV
===================== */
// @import "partials/section-pick";


/* ===============
COMMENT STYLES
================== */
@import "partials/comments";


/* =====================
SIDEBARS & ASIDES
======================== */
@import "partials/sidebar";


/* ==================
FOOTER STYLES
===================== */
@import "partials/footer";


/* ==================
PAGE: HOME
===================== */
@import "pages/home";


/* ====================
LIGHTBOX TREATMENT
======================= */
@import "partials/lightbox";


/* ==================
TYPE: ARTIST
===================== */
// @import "types/artist";


/* ==================
TYPE: EXHIBITION
===================== */
// @import "types/exhibition";


/* ==================
TYPE: EXHIBITION-TEST
===================== */
// @import "types/exhibition-test";


/* =====================
COMPONENTS
======================== */
@import "components/tile";
@import "components/tile-slide";
@import "components/tile-search";
@import "components/tile-artist";
@import "components/tile-exhibit";
@import "components/tile-lightbox-img";
@import "components/pagination";
@import "components/lago-gallery";
@import "components/range";
// @import "components/pop-open-form";
@import "components/overlay";
@import "components/accessible-contact";
@import "components/internal-nav";


/* =====================
PLUGIN-RELATED STYLES
======================== */
@import "plugins/cf7";
// @import "plugins/modaal";
@import "plugins/modaal-mine";
@import "plugins/embedly";
@import "plugins/houdini";


/* ==================
TYPE: EXHIBITION-WITH-TEXT
===================== */
// @import "types/exhibition-text";


/* ==================
PAGES
===================== */
@import "pages/default";
@import "pages/exhibitions";
@import "pages/gallery";
@import "pages/404";
@import "pages/analytics";
@import "pages/artists";
@import "pages/search";

/* ====================
SINGLES
======================= */
@import "singles/exhibition";
@import "singles/artist";
@import "singles/work";


/* ========================================
RETINA (2x RESOLUTION DEVICES)
=================================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	// styles in 2x.scss
	@import "breakpoints/2x";
} // end of media query


/* ======================
PRINT STYLESHEET
======================== */
@media print {
	// styles in print.scss
	@import "base/print";
}
