{% load i18n %}

<article class="tile tile-exhibit {{ additional_classes }}">
    {% if img_size == 'large' %}
        <img src="{{ exhibition.featured_image.img.crop.1040x1040 }}" alt="{{ exhibition.featured_image.alt }}">
    {% elif img_size == 'medium' %}
        <img src="{{ exhibition.featured_image.img.crop.550x550 }}" alt="{{ exhibition.featured_image.alt }}">
    {% else %}
        <img src="{{ exhibition.featured_image.img.crop.350x350 }}" alt="{{ exhibition.featured_image.alt }}">
    {% endif %}
    <h{{ h_elem|default:"3" }} class="title">
        <a href="{% url 'docent:exhibition_detail' exhibition.slug %}">{{ exhibition.title }}</a>
    </h{{ h_elem|default:"3" }}>
    <p class="vh">{% trans "Exhibition Information" %}</p>
    <dl class="exhibit-dl">

        {% if exhibition.artists and show_artists %}
        <dt class="vh">{% trans "Artists" %}</dt>
        <dd class="artists">{{ exhibition.display_artists }}</dd>
        {% endif %}

        <dt class="vh">{% trans "Dates" %}</dt>
        <dd class="dates">{{ exhibition.display_dates }}</dd>

        {% if exhibition.reception and type == 'upcoming' %}
        <dt class="reception inline">{% trans "Opening Reception:" %}</dt>
        <dd class="reception inline">{{ exhibition.reception }}</dd>
        {% endif %}

        {% if exhibition.artist_in_attendance and type == 'upcoming' %}
        <dt class="attendance block">{% trans "Artist in attendance" %}</dt>
        <dd class="vh">{% trans "Yes" %}</dd>
        {% endif %}

    </dl>
</article>