$seattle: #045A8D;
$ny: #980043;
$ny: #d95f0e;

.ww-analytics-report-switcher {
    background-position: 95% center;
    background-size: 0.5rem;
    border-radius: 0;
    border: 1px solid darken($gray,25%);
    display: inline-block;
    margin: 0;
    min-width: 200px;
    width: auto;
}

.ww-analytics-report-key {
    
    margin: 1rem 0;
    padding: 0;
    
    li {
        list-style: none;
        position: relative;
        &:before {
            background: black;
            content: '';
            display: inline-block;
            height: 8px;
            margin-right: 0.5rem;
            width: 1rem;
        }
    }
    
    li.last_year:before {
        background: #999;
        height: 4px;
    }

    li.two_years_ago:before {
        background: #ddd;
        height: 4px;
    }

    li.sea-pv:before {
        background: none;
        border-top: 4px solid $seattle;
        width: 2rem;
    }

    li.sea-pva:before {
        background: none;
        border-top: 4px dashed $seattle;
        width: 2rem;
    }

    li.ny-pv:before {
        background: none;
        border-top: 4px solid $ny;
        width: 2rem;
    }

    li.ny-pva:before {
        background: none;
        border-top: 4px dashed $ny;
        width: 2rem;
    }
    
    .overlay {
        fill: none;
        pointer-events: all;
    }
    
    .focus circle {
        fill: none;
        stroke: steelblue;
    }

}

.ww-analytics-report-chart {

    svg {
        width: 100%;
    }

    // style the lines by removing the fill and applying a stroke */
    .line {
        fill: none;
        stroke: #ffab00;
        stroke-width: 2;
        &.line-this-year {
            stroke: black;
            stroke-width: 5;
        }
        &.line-last-year {
            stroke: #999;
        }
        &.line-two-years-ago {
            stroke: #ddd;
        }
    }

    // style the dots by assigning a fill and stroke */
    .dot {
        fill: #ffab00;
        stroke: #fff;
        &.dot-this-year {
            fill: black;
        }
        &.dot-last-year {
            fill: #999;
        }
        &.dot-two-years-ago {
            fill: #ddd;
        }
    }

    &.year-2020 {
        .dot-sea-pv,
        .dot-sea-pva {
            fill: $seattle;
        }
        .line-sea {
            stroke: $seattle;
            stroke-width: 3;
        }
        .dot-ny-pv,
        .dot-ny-pva {
            fill: $ny;
        }
        .line-ny {
            stroke: $ny;
            stroke-width: 3;
        }
        .line-adjusted {
            stroke-dasharray: 5;
        }
    }

}

.ww-analytics-report {
    .other-stats {
        h2 {
            @include unbold-heds;
            font-size: 1.15rem;
            font-weight: 700;
            margin: 0 0 1rem 0;
        }
        ol {
            list-style-type: decimal;
            margin: 0;
            padding: 0 0 0 1.25rem;
        }
        li {
            margin-bottom: 0.25rem;
        }
        table th,
        table td {
            text-align: center;
            &:first-child {
                text-align: left;
            }
        }
    }
}

.analytics-tab-boxes {

    .tabs {

        border-bottom: 1px solid black;
        margin: 1rem 0 2rem 0;
        padding: 0;

        li, a {
            display: inline-block;
        }
        li {
            margin-bottom: -1px;
        }
        a {
            border: 1px solid black;
            padding: 0.5rem 1rem;
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
            &.active {
                border-bottom: 1px solid white;
            }
        }
    }

    &.js-enabled {
        .analytics-tab-box.hide {
            display: none;
        }
    }
}

