.pg-artists {

    // page striping
    > section {
        @extend %page-section-striping;
    }

}

.inactive-artists-list {
    margin-top: 0;
    margin-bottom: 0;
    li {
        font-size: 0.7rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        text-decoration: none;
        &:hover,
        &:focus {
            border-bottom: 1px solid $black;
        }
    }
    @include responsive(35){
        text-align: center;
        @include columns(3);
        @include column-gap(2em);
    }
}