.default-page {

    margin: 2rem 0;

    .page-header,
    .entry-content {
        margin: 0 auto;
        max-width: 35rem;
    }

    .page-header {
        margin-bottom: ($stanPad / 2);
    }

    .page-title {
        text-align: center;
    }

    .entry-content {

        h2 {
            @include trade-bold;
            font-size: 1.35rem;
        }

        h3 {
            @include trade-cond;
            font-size: 1.25rem;
        }

        ul {
            list-style: disc;
            padding: 0 0 0 1rem;
        }

        li {
            margin-bottom: 0.25rem;
            &:last-child {
                margin-bottom: 0;
            }
        }

    }

}