.pg-search {

    .page-header {
        margin-top: -0.5rem;
        text-align: right;
    }

}

.search-filters {

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    label {
        @include trade;
        font-size: 1rem;
    }

    a.clear-search-filters {
        font-size: 0.8rem;
        font-style: italic;
        &:focus {
            background: black;
            color: white;
        }
    }

    .component {
        border-bottom: 1px solid lighten($gray-menu,15%);
        padding: 1.5rem 0;
        text-align: right;
        &:last-child {
            margin-bottom: 0;
        }
        p {
            margin: 0;
        }
    }

    .component-group {
        @extend %clearfix;
    }

    .component-title {
        @include trade-black;
        // @include trade-bold;
        display: block;
        font-size: 1rem;
        text-transform: uppercase;
        width: 100%;
    }

    .pre-selected-filters {
        li {
            margin-bottom: 0.25rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            background: black;
            color: white;
            display: inline-block;
            line-height: 1;
            padding: 0.25rem;
            text-decoration: none;
        }
    }

    .search-component {
        border-bottom: none;
        p {
            margin-bottom: 0.25rem;
        }
        input[type='submit']{
            @include transition( background 0.5s );
            @include trade-black;
            background: black;
            border: none;
            color: white;
            display: inline-block;
            font-size: 0.8rem;
            padding: 0.5rem;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            &:hover,
            &:focus {
                background: $blue;
                text-decoration: underline;
            }
        }
    }

    .range-component {
        input {
            border: none;
            // width: 200px;
        }
        @include responsive(35){
            padding-left: 25%;
            input {
                width: 100%;
            }
        }
    }

    .mediums-component,
    .aspects-component {
        input,
        label {
            display: inline-block;
        }
        input {
            margin-left: 0.15rem;
        }
        label {
            text-transform: none;
        }
    }

}

.search-filters .search-component input[type='submit'],
.search-results-pagination {
    a {
        @include transition( background 0.5s );
        &:focus {
            background: white;
            background: $blue;
            text-decoration: underline;
            // color: black;
            // outline: 2px solid darken($blue,20%); 
        }
    }
    a.next {
        &:focus {
            /*&:before {
                border-top: 3px solid black;
                border-right: 3px solid black;
            }*/
        }
    }
    a.previous {
        &:focus {
            /*&:before {
                border-left: 3px solid black;
                border-bottom: 3px solid black;
            }*/
        }
    }
}

/*.search-results {
    img:focus {
        @include focus-outline;
    }
}*/

.search-results-pagination {
    margin-top: 1rem;
}