// COLORS

$gray-light:         #e2e1e1;
$gray-light:         #eee;
$gray-menu:          #9e9e9e;
$gray-menu:         #767676;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$white:             #E4DADB;
$black:             #50565C;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        black;
$meta-gray:         #9fa6b4;
$gray-on-gray:     #494949; // lightest we can get away with, accessibility-wise, on #eee background

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
