// using a mixin since we can't use placeholder selectors
@mixin grid-col {
  float: left;
  padding-right: 0.75em;

}

// the last column
.last-col {
  float: right;
  padding-right: 0 !important;
}

.wrap {
  @extend %clearfix;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  @include responsive(35){
    padding: 0;
  }
}

.region {
  @extend %clearfix;
}

// ESTABLISH GUTTER RULES COMMON TO ALL DESKTOP SETTINGS
$gutterWidth: $stanPad;
$totalGutterSpace: $gutterWidth * 12;

// DESKTOP 1 ------------------------------------------

@include responsive(3){

  $wrapWidth: 46rem;
  $totalColumnSpace: $wrapWidth - $totalGutterSpace;
  $columnWidth: $totalColumnSpace / 12;

  .wrap {
    padding: 0;
    width: $wrapWidth;
  }

  .region {
    margin: 0 ($gutterWidth / 2);
  }

  $class-slug: t !default;
  @for $i from 1 through 12 {
    .#{$class-slug}-#{$i}{
      float: left;
      $numGutters: $i - 1;
      width: ( $columnWidth * $i ) + ( $gutterWidth * $numGutters );
    }
  }
}

// DESKTOP 2 ------------------------------------------

@include responsive(4){

  $wrapWidth: 60rem;
  $totalColumnSpace: $wrapWidth - $totalGutterSpace;
  $columnWidth: $totalColumnSpace / 12;

  .wrap {
    width: $wrapWidth;
  }

  .region {
    margin: 0 ($gutterWidth / 2);
  }

  $class-slug: d !default;
  @for $i from 1 through 12 {
    .#{$class-slug}-#{$i}{
      float: left;
      $numGutters: $i - 1;
      width: ( $columnWidth * $i ) + ( $gutterWidth * $numGutters );
    }
  }
}

// DESKTOP 3 ------------------------------------------

@include responsive(5){
  
  $wrapWidth: 68rem;
  $totalColumnSpace: $wrapWidth - $totalGutterSpace;
  $columnWidth: $totalColumnSpace / 12;

  .wrap {
    width: $wrapWidth;
  }

  .region {
    margin: 0 ($gutterWidth / 2);
  }

  $class-slug: w !default;
  @for $i from 1 through 12 {
    .#{$class-slug}-#{$i}{
      float: left;
      $numGutters: $i - 1;
      width: ( $columnWidth * $i ) + ( $gutterWidth * $numGutters );
    }
  }
}