.lago-grid {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  // .elem covers old-style (current) use case
  // li covers new, post-Art Search use case
  .elem, 
  > li {
    display: inline-block;
    margin: 0 0.5rem 1rem 0.5rem;
    vertical-align: top;
    width: 44%;
    width: calc(50% - 1rem);
    img {
      display: block;
    }
  }
  @include responsive(35){
    .elem,
    > li {
      width: 30%;
      width: calc(33.33% - 1rem);
    }
  }
}

$lagoGridMobileMargin: 0.5rem;
$lagoGridMobileMargin: ($stanPad / 2);
$lagoGridDesktopMargin: ($lagoGridMobileMargin * 3);
$lagoGridDesktopMargin: ($stanPad / 2);

// selects all items in the last row of a grid, for a grid with a given number of columns
@mixin flatBottom($x){
  > *:nth-child(#{$x}n+1):nth-last-child(-n+#{$x}),
  > *:nth-child(#{$x}n+1):nth-last-child(-n+#{$x}) ~ li {
    margin-bottom: 0;
  }
}

ul.lago-grid {
  margin-top: 0;
  margin-bottom: 0;
}

ul.lago-grid {
  &.m1-one,
  &.m2-one,
  &.t-one,
  &.d-one,
  &.w-one {
    .card-set-item:last-child {
      margin-bottom: 0;
    }
  }
}

ul.lago-grid {
  &.m1-two,
  &.m2-two,
  &.m2-three {
    @include responsive(12){
      display: flex;
      flex-wrap: wrap;
      margin-right: -$lagoGridMobileMargin;
      margin-left: -$lagoGridMobileMargin;
      > * {
        margin-right: $lagoGridMobileMargin;
        margin-left: $lagoGridMobileMargin;
      }
      // fallback for browsers that don't support flexbox
      @supports not(display: flex){
        > * {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
  &.m1-two {
    @include responsive(1){
      > * {
        width: 46%;
        width: calc(50% - #{($lagoGridMobileMargin * 2)});
      }
      @include flatBottom(2);
    }
  }
  &.m1-three {
    @include responsive(1){
      > * {
        width: 27%;
        width: calc(33.33% - #{($lagoGridMobileMargin * 2)});
      }
      @include flatBottom(3);
    }
  }
  &.m2-two {
    @include responsive(2){
      > * {
        width: 46%;
        width: calc(50% - #{($lagoGridMobileMargin * 2)});
      }
      @include flatBottom(2);
    }
  }
  &.m2-three {
    @include responsive(2){
      > * {
        width: 27%;
        width: calc(33.33% - #{($lagoGridMobileMargin * 2)});
      }
      @include flatBottom(3);
    }
  }
  &.t-two,
  &.t-three,
  &.t-four,
  &.t-five {
    @include responsive(3){
      display: flex;
      flex-wrap: wrap;
      margin-right: -$lagoGridDesktopMargin;
      margin-left: -$lagoGridDesktopMargin;
      > * {
        margin-right: $lagoGridDesktopMargin;
        margin-left: $lagoGridDesktopMargin;
      }
      // fallback for browsers that don't support flexbox
      @supports not(display: flex){
        > * {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
  &.t-two {
    @include responsive(3){
      > * {
        width: 44%;
        width: calc(50% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(2);
    }
  }
  &.t-three {
    @include responsive(3){
      > * {
        width: 27%;
        width: calc(33.33% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(3);
    }
  }
  &.t-four {
    @include responsive(3){
      > * {
        width: 19%;
        width: calc(25% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(4);
    }
  }
  &.t-five {
    @include responsive(3){
      > * {
        width: 14%;
        width: calc(20% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(5);
    }
  }
  &.d-two,
  &.d-three,
  &.d-four,
  &.d-five,
  &.d-six {
    @include responsive(4){
      display: flex;
      flex-wrap: wrap;
      margin-right: -$lagoGridDesktopMargin;
      margin-left: -$lagoGridDesktopMargin;
      > * {
        margin-right: $lagoGridDesktopMargin;
        margin-left: $lagoGridDesktopMargin;
      }
      // fallback for browsers that don't support flexbox
      @supports not(display: flex){
        > * {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
  &.d-two {
    @include responsive(4){
      > * {
        width: 44%;
        width: calc(50% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(2);
    }
  }
  &.d-three {
    @include responsive(4){
      > * {
        width: 27%;
        width: calc(33.33% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(3);
    }
  }
  &.d-four {
    @include responsive(4){
      > * {
        width: 19%;
        width: calc(25% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(4);
    }
  }
  &.d-five {
    @include responsive(4){
      > * {
        width: 14%;
        width: calc(20% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(5);
    }
  }
  &.d-six {
    @include responsive(4){
      > * {
        width: 12%;
        width: calc(16.667% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(6);
    }
  }
  &.w-two,
  &.w-three,
  &.w-four,
  &.w-five,
  &.w-six {
    @include responsive(5){
      display: flex;
      flex-wrap: wrap;
      margin-right: -$lagoGridDesktopMargin;
      margin-left: -$lagoGridDesktopMargin;
      > * {
        margin-right: $lagoGridDesktopMargin;
        margin-left: $lagoGridDesktopMargin;
      }
      // fallback for browsers that don't support flexbox
      @supports not(display: flex){
        > * {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
  &.w-two {
    @include responsive(5){
      > * {
        width: 44%;
        width: calc(50% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(2);
    }
  }
  &.w-three {
    @include responsive(5){
      > * {
        width: 27%;
        width: calc(33.33% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(3);
    }
  }
  &.w-four {
    @include responsive(5){
      > * {
        width: 19%;
        width: calc(25% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(4);
    }
  }
  &.w-five {
    @include responsive(5){
      > * {
        width: 14%;
        width: calc(20% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(5);
    }
  }
  &.w-six {
    @include responsive(5){
      > * {
        width: 12%;
        width: calc(16.667% - #{($lagoGridDesktopMargin * 2)});
      }
      @include flatBottom(6);
    }
  }
}

ul.equal {
  display: flex;
  flex-wrap: wrap;
}

// ============================
// LAYER ON CSS:GRID STYLES
// ============================

// this part won't apply to the existing site, 
// as it doesn't use the <ul> element for lago-grid

ul.lago-grid {
  @supports (display: grid){
    display: grid !important;
    grid-gap: $stanPad;
    hyphens: auto;
    margin: 0 !important;
    > * {
      margin: 0 !important;
      width: 100% !important;
    }
    @include responsive(1){
      &.m1-one {
        grid-template-columns: 1fr;
      }
      &.m1-two {
        grid-template-columns: 1fr 1fr;
      }
      &.m1-three {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.m1-four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &.m1-two,
      &.m1-three,
      &.m1-four {
        display: grid;
        > * {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    @include responsive(2){
      &.m2-two {
        grid-template-columns: 1fr 1fr;
      }
      &.m2-three {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.m2-four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &.m2-two,
      &.m2-three,
      &.m2-four {
        display: grid;
        > * {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    @include responsive(3){
      &.t-two {
        grid-template-columns: 1fr 1fr;
      }
      &.t-three {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.t-four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &.t-two,
      &.t-three,
      &.t-four {
        display: grid;
        > * {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    @include responsive(4){
      &.d-two {
        grid-template-columns: 1fr 1fr;
      }
      &.d-three {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.d-four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &.d-two,
      &.d-three,
      &.d-four {
        display: grid;
        > * {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    @include responsive(5){
      &.w-two {
        grid-template-columns: 1fr 1fr;
      }
      &.w-three {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.w-four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &.w-two,
      &.w-three,
      &.w-four {
        display: grid;
        > * {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
        }
      }
    }    
  }
}

// ==================================================
// HANDLE GRID HEADERS
// These are those cases where the section header
// should act like an item in the grid, indenting it
// ==================================================

@supports (display: grid){
  
  .lago-grid-container-indented {

    @include responsive(35){

      // this sets up the layering
      .wrap {
        position: relative;
      }

      // make the header a grid and layer it over the image grid
      // (this has to match the column settings of the image grid to work)
      .section-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $stanPad;
        // left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        width: calc( 100% - 1rem );
      }

      // create the indent, make sure grid layers over the header
      ul.lago-grid {
        position: relative;
        &:before {
          content: '';
        }
      }
    }
  }
}
