// fixes the wonky menu in the admin bar
.sidebar-menu {
    h1 {
        box-sizing: border-box;
        color: white !important;
    }
}

// fixes the weird off-the-screen layout of the main admin section
.change-form #content-main, 
.change-list #content-main, 
.container-fluid {
    box-sizing: border-box;
}