/* ---------- THE LIGHTBOX ON THE SINGLE-ARTIST PAGE ---------- */

#lightbox {
  background: rgba(0,0,0,0.85);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

#lightbox-content {
  display: table;
  height: 100%;
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
  p {
    @include transition(all 0.25s);
    border-bottom: $gray-menu;
    color: $gray-menu;
    cursor: pointer;
    font-size: 12px;
    margin-right: 20px;
    padding-right: 1em;
    position: absolute;
    right: -1em;
    top: 1em;
    &:hover, &:active {
      color: white;
    }
  }
  img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }
  figure {
    display: table-cell;
    max-height: 100%;
    vertical-align: middle;
    width: 100%;
  }
  figcaption {
    color: white;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
  }
}

#lightbox-nav {
  color: $gray-menu;
  left: 0;
  margin: 0 auto;
  bottom: 1em;
  position: fixed;
  width: 100%;
  z-index: 100;
  @extend .clearfix;
  span {
    @include transition(all 0.25s);
    border-bottom: 5px solid $gray-menu;
    cursor: pointer;
    font-family: "TradeGothicLTCom-BdCn20";
    font-size: 1.25em;
    line-height: 1;
    padding: 8px;
    text-transform: uppercase;
    &:hover, &:active {
      border-color: white;
      color: white;
    }
  }
  span.prev {
    float: left;
    padding-right: 0;
    padding-left: 1em;
  }
  span.next {
    float: right;
    padding-left: 0;
    padding-right: 1em;
  }
}

@include responsive(35){
  #lightbox-content {
    width: 70%;
    figure {
      bottom: 3em;
      left: 0;
      padding-right: 5em;
      padding-left: 5em;
      position: fixed;
      right: 0;
      top: 2em;
    }
  }
  #lightbox-nav {
    position: absolute;
    top: 50%;
  }
}

// USE GRID TO MAKE SURE THE CAPTION DOESN'T OVERFLOW THE BROWSER WINDOW

@supports (display: grid){

  #lightbox-content {

    @include responsive(35){

      figure {
        display: grid;
        grid-template-rows: minmax(35%, 85%) auto;
        grid-template-rows: minmax(50%, 90%) auto;
        height: 100vh;
        padding: 2rem 5rem 0 5rem;
        top: 0;
      }
  
      img,
      figcaption {
        align-items: start;
        justify-items: center;
      }
  
      img {
        grid-row: 1/2;
      }
  
      figcaption {
        grid-row: 2/3;
        margin: 0;
        padding: 1rem;
      }
    }
  }
}
