nav.section-pick {
  text-align: right;
  ul {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    li {
      float: left;
      font-size: 0.8em;
      margin-right: 1em;
      text-transform: uppercase;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $gray-menu;
        padding: 2px 0;
        text-decoration: none;
        &:hover,
        &.active {
          border-bottom: 1px solid lighten($black,33.33%);
          color: black;
        }
      }
    }
  }
}
