.single-ww_artist {
  /*#main {
    section {
      padding: 2em 1em;
      &.main {
        padding-top: 0;
      }
      &:nth-child(even){
        background: $gray-light;
      }
      .wrap {
        @extend .cf;
      }
    }
  }*/
  .post-title {
    color: black;
    margin: 0;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    &:after {
      background: black;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      right: 0;
      width: 10000%;
    }
  }
  .installations,
  .press,
  .video {
    .section-hed {
      @extend .right;
      @extend .underlined;
      margin-bottom: 0.25em;
    }
  }
  .info {
    .bio {
      margin-top: 1em;
      margin-bottom: 2em;
      text-align: right;
    }
    a.bio-download {
      color: black;
      font-style: italic;
    }
  }

  .exhibitions {
    float: right;
    margin-bottom: 2em;
    text-align: right;
    h3 {
      margin-bottom: 0;
    }
    ul {
      margin: 0;
      li {
        list-style-type: none;
        margin-bottom: 0.25em;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          background: none;
          border-left: 0.38em solid lighten(black,20%);
          border-right: 0.38em solid #c8c7c7;
          @include rounded(50%);
          content: '';
          display: inline-block;
          height: 0.75em;
          margin-right: 0.5em;
          position: relative;
          width: 0;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  // pad and align the paragraphs in the sidebar
  // areas of the video and installation sections
  section.video,
  section.installations {
    header p {
      margin-top: 1em;
      text-align: right;
    }
  }

  .work {
    .hero {
      // margin-bottom: 1em;
      a {
        display: block;
        line-height: 0;
      }
    }
    .main {
      .elem {
        margin-bottom: 1em;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
        p {
          display: none;
          margin: 0;
        }
        a {
          display: block;
          line-height: 0;
        }
      }
    }
  }

  .installations {
    .main {
      .elem {
        margin-bottom: 1em;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
        p {
          margin: 0;
        }
        a {
          display: block;
          line-height: 0;
        }
      }
    }
  }

  .work, .installations {
    .main {
      margin-right: -0.5em;
      margin-left: -0.5em;
      .elem {
        display: inline-block;
        margin-right: 0.5em;
        margin-left: 0.5em;
        vertical-align: top;
        width: 46%;
        width: calc(50% - 1em);
      }
      .hero.elem {
        width: 97%;
        width: calc(100% - 1em);
      }
    }
  }

  .press {
    .main {
      li {
        margin-bottom: 1em;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        b {
          @include trade-black;
        }
      }
    }
  }

  @include responsive(25){
    .work, .installations {
      .main {
        .elem {
          width: 31%;
          width: calc(33.33% - 1em);
        }
      }
    }
  }

  @include responsive(35){
    /*#main {
      section {
        padding: 4em 0;
        &.main {
          padding-top: 0;
        }
      }
    }*/
    .installations,
    .video,
    .press {
      header, .main {
        @include box-sizing;
        float: left;
      }
      header {
        padding-right: 1em;
        text-align: right;
        width: 33.33%;
        p {
          font-style: italic;
        }
      }
      .main {
        padding-left: 1em;
        width: 66.67%;
      }
    }
    section.main {
      .info, .work {
        @include box-sizing;
        float: left;
      }
      .info {
        padding-right: 1em;
        width: 33.33%;
      }
      .work {
        padding-left: 1em;
        width: 66.67%;
      }
      .exhibitions {
        margin-bottom: 0;
      }
    }
    /*.installations {
      .main {
        .elem {
          width: 14%;
          width: calc(16.667% - 1em);
        }
      }
    }*/
    section.press {
      .main {
        ul {
          margin: 0;
        }
      }
    }
  }
}

/* ---------- THE 'ARTISTS' ARCHIVE PAGE ---------- */

.post-type-archive-ww_artist {
  /*section {
    padding: 2em 1em;
    &.active-artists {
      padding-top: 0;
    }
  }*/
  .page-title {
    position: relative;
    text-align: right;
    &:after {
      background: black;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      right: 0;
      width: 10000%;
    }
  }
  .active-artists {
    .main {
      .elem {
        h3 {
          font-size: 0.8em;
          line-height: 1.25;
          // margin: 0;
          margin: 0.5em 0 0 0;
          text-align: right;
          text-transform: uppercase;
        }
        a {
          text-decoration: none;
        }
      }
      header.elem {
        width: 90%;
        width: calc(100% - 1em);
      }
    }
  }
  .inactive-artists {
    background: $gray-light;
    h2 {
      margin-bottom: 1em;
    }
    .artist-name {
      font-size: 1em;
    }
    ul {
      margin: 0;
      li {
        font-size: 0.8em;
        margin-bottom: 1em;
        text-transform: uppercase;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          &:hover,
          &:focus {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
  @include responsive(25){
    .active-artists {
      .section-content {
        .elem {
          h3 {
            text-align: left;
          }
        }
      }
    }
    .inactive-artists {
      h2 {
        width: 100% !important;
      }
    }
  }
  @include responsive(35){
    /*#main {
      section {
        padding: 4em 0;
        &.active-artists {
          padding-top: 0;
        }
      }
    }*/
    .active-artists {
      .main {
        .elem, header.elem {
          /*width: 30%;
          width: calc(33.33% - 2em);*/
        }
        header.elem {
          position: relative;
          // width: 30%;
          // width: calc(33.33% - 1em);
          h1 {
            position: absolute !important;
            right: 0;
            top: 0;
          }
        }
      }
    }
    .inactive-artists {
      h2 {
        width: 22%;
        width: calc(25% - 1em);
      }
      .section-content {
        padding-left: 0;
        text-align: center;
        @include columns(3);
        @include column-gap(2em);
      }
    }
  }
}
