// this works on page-2186 and page-1859

.exhibition-test {
  .section-hed {
    text-align: center;
    width: 100% !important;
    &:before {
      content: none;
    }
  }
  @include responsive(35){
    // hide the featured image, because we're going to use background image instead
    section.current.exhibits {
      padding-bottom: 0;
      .featured-image {
        display: none;
      }
      .wrap {
        width: 100%;
      }
      .exhibit {
        background: $gray;
        background-position: center;
        background-size: cover;
        display: table;
        /*padding: 12em 0;*/
        height: 400px;
        position: relative;
        width: 100%;
        &:before {
          background: rgba(0,0,0,0.5);
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      .exhibit header {
        color: white;
        display: table-cell;
        font-size: 1.25em;
        margin-top: 0 !important;
        margin-left: 0 !important;
        padding-right: 33.33%;
        padding-left: 33.33%;
        position: relative;
        text-align: center !important;
        top: 0;
        vertical-align: middle;
        width: 100% !important;
        z-index: 2;
        a {
          color: white;
        }
      }
      .half.exhibit {
        margin-bottom: 0;
        header {
          font-size: 1em;
          text-align: center;
        }
        h3 {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
      .half.exhibit.left {
        .featured-background-image {
          background-position: center right;
        }
      }
      .half.exhibit.right {
        .featured-background-image {
          background-position: center left;
        }
      }
    }
  }
  @include responsive(4){
    section.current.exhibits {
      .exhibit {
        /*padding: 15em 0;*/
        height: 500px;
      }
    }
  }
  @include responsive(5){
    section.current.exhibits {
      .exhibit {
        /*padding: 18em 0;*/
        height: 600px;
      }
    }
  }
}
