//
// THE ARCHIVE PAGE
//
.post-type-archive-ww_exhibition {

  main {
    section {
      &:nth-child(even){
        background: $gray-light;
        .exhibit {
          h3 {
            border-color: $gray-light !important;
          }
        }
      }
    }
  }
  

  section.exhibits {
    padding: 2em 1em;
    &:first-child {
      padding-top: 0;
    }
    @include responsive(35){
      padding: 4em 0;
    }
    h2 {
      margin-bottom: 1em;
      @include responsive(35){
        margin-bottom: 0.5em;
        width: 100%;
      }
    }
    .exhibit {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
      header {
        text-align: right;
        text-transform: uppercase;
        h3,h4,p {
          margin: 0;
        }
      }
    }
    .featured-image {
      margin-bottom: 1em;
      img {
        line-height: 0;
      }
    }
  }

  section.exhibits {
    &.current,
    &.upcoming {
      .exhibit {
        .title {
          @include trade-black;
        }
        .subtitle {
          font-weight: normal;
          text-transform: none;
        }
        .dates {
          /*font-size: 0.9em;*/
        }
      }
    }
  }

  section.current.exhibits {

    .featured-image {
      margin-bottom: 1em;
    }

    @include responsive(35){

      .section-header {
        float: left;
        padding-right: 1.25rem;
        width: 33%;
      }

      .section-content {
        float: right;
        margin-right: -1rem;
        margin-left: -1rem;
      }

      .exhibit {
        margin-right: 1rem;
        margin-left: 1rem;
      }

      // what to do if there's only one exhibit to show
      .full.exhibit {
        header, .featured-image {
          float: right;
        }
        header {
          margin-top: 0;
          margin-left: 0;
          padding-right: 1.5rem;
          text-align: right;
          width: 33.33%;
        }
        .featured-image {
          margin-top: -5.15rem; // hack to get the image to line up with the top of the Current Exhibitions header
          padding-left: 0.5em;
          width: 66.67%;
        }
        .teaser {
          margin-top: 2em;
          p {
            color: lighten(black,33%);
            @include trade-light-ital;
            font-size: 1.5em;
            font-style: italic;
            line-height: 1.67;
            text-transform: none;
          }
        }
      }

      // what to do to the exhibits if there are multiple to show
      .third.exhibit {
        float: left;
        margin-bottom: 2rem;
        width: 33.33%;
        width: calc(33.33% - 2rem);
      }
      @supports (display: flex){
        .section-content.count-2,
        .section-content.count-at-least-3 {
          display: flex;
          flex-wrap: wrap;
        }
      }
      .section-content.count-2,
      .section-content.count-at-least-3 {
        .exhibit header {
          text-align: left;
        }
      }

      // what to do if there specifically two exhibits to show
      .section-content.count-2 {
        width: 70%;
        .exhibit {
          margin-bottom: 0;
          width: 50%;
          width: calc(50% - 2rem);
        }
      }

      .section-content.count-3 {
        .exhibit {
          margin-bottom: 0;
        }
      }

      // what to do if there are at least three exhibits to show
      .section-content.count-at-least-3 {

      }

      // what to do if there are two exhibits to show
      /*.third.exhibit {
        float: left;
        width: 33.33%;
        &.left {
          padding-right: 1em;
          h3 {
            padding-left: 33.33%;
          }
        }
        &.right {
          padding-left: 1em;
          header {
            text-align: left;
          }
          h3 {
            padding-right: 33.33%;
          }
        }
        .teaser {
          display: none;
        }
      }*/
    }
    @include responsive(45){
      .full.exhibit {
        .featured-image {
          margin-top: -3.1rem;
        }
      }
      .section-content.count-2 {
        width: calc(70% - 0.45rem);
      }
    }
    @include responsive(5){
      .section-content.count-2 {
        width: calc(70% - 0.7rem);
      }
    }
  }

  section.upcoming,
  section.past {
    header.section-header {
      @include responsive(35){
        margin-bottom: 1em;
        width: 33.33%;
        width: calc(33.33% - 0.5em);
      }
    }
  }


  section.upcoming.exhibits {

    .exhibit {
      .reception {
        text-align: right;
        p {
          margin: 0;
        }
      }
      h3 {
        padding-left: 0 !important;
      }
    }

    @include responsive(25){

      // display of either full or half-sized exhibit at narrower sizes
      .full.exhibit,
      .half.exhibit {
        margin: 0 auto;
        margin: 0 auto 2rem auto;
        margin: 0 0 2rem 0;
        &:last-child {
          margin-bottom: 0;
        }
        .featured-image {
          margin-bottom: 1em;
        }
        header, .reception {
          text-align: left;
        }
      }
    }

    @include responsive(45){

      // displaying multiple upcoming shows at wider screens
      .half.exhibit {
        float: left;
        margin-bottom: 2rem;
        width: 50%;
        &.left {
          padding-right: 1em;
          h3 {
            padding-left: 33.33%;
          }
        }
        &.right {
          padding-left: 1em;
          header {
            text-align: left;
          }
          h3 {
            padding-right: 33.33%;
          }
        }
        header, .reception {
          text-align: left;
        }
      }

      .main {
        &.count-2 {
          .half.exhibit {
            margin-bottom: 0;
          }
        }
      }

      @supports (display: flex){
        .main {
          &.count-at-least-3 {
            display: flex;
            flex-wrap: wrap;    
          }
        }
      }
      

    }
    @include responsive(35){
      header.section-header, .main {
        float: left;
      }
      header.section-header {
        padding-right: 1em;
      }
      .main {
        padding-right: 0;
        padding-left: 1em;
        width: 66.67%;
        width: calc(66.67% + 0.5em);
      }
    }
  }

  section.past.exhibits {
    header.section-header {
      width: 100%;
      width: calc(100% - 1em);
    }
    .exhibit {
      a {
        display: block;
        text-decoration: none;
      }
      h3, p {
        line-height: 1.25;
        margin: 0;
        text-align: right;
        text-transform: uppercase;
      }
      h3 {
        border-bottom: 1px solid white;
        @include trade-black;
        font-size: 0.9em;
        // margin: 0.25em 0 0.125em 0;
        margin: 0.75em 0 0.125em 0;
      }
      a:hover {
        h3 {
          border-color: $gray-menu;
        }
      }
      p {
        font-size: 0.8em;
      }
    }
    @include responsive(35){
      header.section-header {
        width: calc(33.33% - 1em);
      }
      .exhibit {
        h3, p {
          text-align: left;
        }
      }
    }
  }
}

//
// A SINGLE EXHIBITION -----------------------------------
//
.single-ww_exhibition {
  #content {
    section {
      padding: 2em 1em;
      &:first-child {
        padding-top: 0;
      }
      &:nth-child(even){
        background: $gray-light;
      }
    }
  }
  .wrap {
    @extend .cf;
  }
  .info {
    .main {
      margin-bottom: 1em;
      text-align: right;
    }
    p.dates {
      text-transform: uppercase;
    }
  }
  .reception {
    margin-top: -1em;
    margin-bottom: 1em;
    text-align: right;
    p {
      margin: 0;
    }
  }
  .work {
    .hero {
      line-height: 0;
      margin-bottom: 1em;
      width: 97%;
      width: calc(100% - 1em);
    }
  }
  @include responsive(35){
    #content {
      section {
        padding: 4em 0;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    .info, .work {
      float: left;
    }
    .info {
      padding-right: 1em;
      width: 33.33%;
      .main {
        margin-bottom: 0;
      }
    }
    .work {
      padding-left: 1em;
      width: 66.67%;
    }
  }
}

.single-ww_exhibition {
  section.main {
    header {
      text-align: right;
    }
  }
  section.about {
    @include responsive(35){
      header, .main {
        float: left;
      }
      header {
        padding-right: 1em;
        width: 33.33%;
      }
      .main {
        padding-left: 1em;
        width: 66.67%;
      }
    }
  }
}
