.page-template-page-exhibitions-text {
  /*.section-hed {
    text-align: center;
    width: 100% !important;
    &:before {
      content: none;
    }
  }*/
  @include responsive(35){
    section.exhibits {
      h2 {
        margin-bottom: 0.5em;
        width: 100%;
      }
    }
    section.current.exhibits {
      .half.exhibit {
        .teaser {
          display: none;
        }
      }
      .full.exhibit {
        header, .featured-image {
          float: right;
        }
        header {
          margin-top: 0;
          margin-left: 0;
          padding-right: 1em;
          text-align: right;
          width: 33.33%;
        }
        .featured-image {
          padding-left: 1em;
          width: 66.67%;
        }
        .teaser {
          margin-top: 2em;
          p {
            color: lighten(black,33%);
            @include trade-light-ital;
            font-size: 1.5em;
            font-style: italic;
            line-height: 1.67;
            text-transform: none;
          }
        }
      }
    }

    section.upcoming,
    section.past {
      header.section-header {
        margin-bottom: 1em;
        width: 33.33%;
        width: calc(33.33% - 0.5em);
      }
    }
    section.upcoming {
      header.section-header, .main {
        float: left;
      }
      header.section-header {
        padding-right: 1em;
      }
      .main {
        padding-right: 0 !important;
        padding-left: 1em !important;
        width: 66.67%;
      }
      .exhibit {
        header {
          text-align: left;
        }
        h3 {
          padding-left: 0 !important;
        }
      }
    }
    section.past {
      header.section-header {
        width: calc(33.33% - 1em);
      }
    }
  }
  @include responsive(4){
    section.current.exhibits {
      .full.exhibit {
        .teaser {
          padding-left: 16.67%;
        }
      }
    }
  }
  @include responsive(5){
    section.current.exhibits {
      .full.exhibit {
        .teaser {
          padding-left: 33.33%;
        }
      }
    }
  }
}
