.main-image-space {
    &.has-ar {
        position: relative;
        model-viewer {
            display: block;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
}