/*.modaal-gallery-item {
    img {
        display: block;
        width: auto !important;
    }
}*/

// Modaal Variables
// --------------------------------------------------------

$modaal-overlay-color: rgba(0,0,0, 0.8);

$modaal-radius: 0px; //5px
$modaal-main-bg: #fff;
$modaal-main-text: #000;
$modaal-max-width: 1000px;
$modaal-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
$modaal-padding: 30px;
$modaal-hover-color: rgba(0,0,0, 0.7);
$modaal-close-hover-color: #b93d0c;

$modaal-light: #fff;
$modaal-primary: #555;
$modaal-grey: #afb7bc;


// Modaal Mixins
// --------------------------------------------------------
@mixin modaal-transition($type, $speed: .2s, $ease: ease-in-out) {
	transition: $type #{$speed} #{$ease};
}
@mixin modaal-hidetext() {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


.modaal-accessible-hide {
	@include modaal-hidetext;
}

.modaal-wrapper {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
    .modaal-gallery-control {
        border: none;
        color: gray;
        cursor: pointer;
        left: 0;
        position: absolute;
        top: 1.5rem;
        z-index: 2;
        &:hover,
        &:focus { 
            color: white; 
        }
        span {
            @include modaal-hidetext;
        }
        &:before,
        &:after {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 1rem;
            width: 0.2rem;
            height: 1rem;
            border-radius: 4px;
            background: #fff;
            @include modaal-transition(background);
        }
        &:before {
            margin: -5px 0 0;
            transform: rotate(-45deg);
        }
        &:after {
            margin: 5px 0 0;
            transform: rotate(45deg);
        }
        @include responsive(35){
            left: 0;
            top: 50%;
            &:before,
            &:after {
                height: 18px;
                width: 4px;
            }
        }
    }
    .modaal-gallery-next {
        left: 4rem;
        @include responsive(35){
            left: auto;
            right: 0.5rem;
        }
    }
    .modaal-gallery-prev {
        &:before {
            margin: 5px 0 0;
            transform: rotate(-45deg);
        }
        &:after {
            margin: -5px 0 0;
            transform: rotate(45deg);
        }
    }

.modaal-gallery-item {
    
    height: 100%;
    left: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;

    &.is_active {
        opacity: 1;
        z-index: 1;
    }

    figure {
        height: 100%;
        padding: 4rem 1rem 0 1rem;
        @include responsive(35){
            display: grid;
            // grid-template-columns: 1fr 50% 1fr;
            grid-template-columns: 2rem auto 2rem;
            grid-template-rows: minmax(40%, 80%) auto;
            grid-gap: 1rem;
            padding: 4rem 0 0 0;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 50vh;
        max-width: 90%;
        width: auto !important;
        @include responsive(35){
            align-self: end;
            grid-column: 2/3;
            grid-row: 1/2;
            max-width: 100%;
        }
    }
    
    .modaal-gallery-label {
        @include trade-bold;
        color: white;
        padding: 1rem 0;
        text-align: center;
        @include responsive(35){
            grid-column: 2/3;
            grid-row: 2/3;
            padding: 0 0 1rem 0;
        }
    }
}

.modaal-close {
    border: none;
	position: fixed;
	right: 20px;
	top: 0.5rem;
	color: white;
	cursor: pointer;
	opacity: 1;
    width: 50px;
    width: 1rem;
    height: 50px;
    height: 1rem;
	background: rgba(0,0,0, 0);
    border-radius: 100%;
    z-index: 2;
	&:focus,
	&:hover {
		outline: none;
		// background: #fff;
	}
	span {
		@include modaal-hidetext;
	}
	&:before,
	&:after {
		display: block;
		content: " ";
		position: absolute;
		top: 1rem;
		left: 23px;
		width: 0.25rem;
		height: 1rem;
		border-radius: 4px;
		background: #fff;
		@include modaal-transition(background);
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
	.modaal-fullscreen & {
        background: $modaal-grey;
		right: 10px;
		top: 10px;
    }
    @include responsive(35){
        height: 50px;
        right: 0.5rem;
        top: 2.5rem;
        width: 50px;
        &:before,
        &:after {
            height: 22px;
            top: 14px;
            width: 4px;
        }
        &:focus,
        &:hover {
            &:before,
		    &:after { 
                background: $modaal-close-hover-color; 
                background: white;
            }
        }
    }
}

.modaal-gallery-item {
    .modaal-caption-link {
        color: white;
        cursor: pointer;
        &:hover,
        &:focus {
            background: white;
            color: black;
        }
    }
}