<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if artist %}{{ artist.raw_name }}{% else %}{% trans "Artist Detail" %}{% endif %}{% endblock %}

{% block content %}
<main id="main" class="{{ main_classes }}">

    {% if artist %}
    <!-- =======================================
	THE MAIN SECTION
	============================================ -->
	<section id="section-main" class="section-main" tabindex="-1">
        <div class="wrap cf">
    
            <div class="single-artist-main region t-4 d-4 w-4">
                            
                <header class="single-artist-header">
                    <h1 class="post-title underlined right">{{ artist.title }}</h1>
                </header>
                            
                <div class="entry-content">
                    {{ artist.description|safe }}
                </div>
                            
        </div>
    </section>
    {% endif %}

</main>
{% endblock %}