{% load i18n %}

<header class="single-current-exh-header section-header region t-4 d-4 w-4">
    <h1 class="page-title vh">{% trans "Exhibitions" %}</h1>
    <h2 class="section-hed underlined right pg-t-w-1">{% trans "Current Exhibitions" %}</h2>
</header>
<div class="single-curr-exh">
    <img src="{{ exhibition.featured_image.img.crop.1040x1040 }}" alt="" class="region t-8 d-8 w-8">
    <header class="region t-4 d-4 w-4">
        <h3 class="title"><a href="{% url 'docent:exhibition_detail' exhibition.slug %}">{{ exhibition.title }}</a></h3>
        <dl>
            <dt class="vh">{% trans "Artists" %}</dt>
            <dd class="artists">{{ exhibition.display_artists }}</dd>
            <dt class="vh">{% trans "Dates" %}</dt>
            <dd class="dates">{{ exhibition.display_dates }}</dd>
        </dl>
    </header>
</div>