<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Exhibitions" %}{% endblock %}

{% block content %}
<main id="main" class="content pg-exhibitions">

    {% if exhibitions_current %}
    <section class="current exhibits">
        <div class="wrap cf">
            {% if exhibitions_current.count == 1 %}
                {% include 'exhibition/current-1.html' with exhibition=exhibitions_current.0 %}
            {% else %}
                {% include 'exhibition/current-multi.html' with exhibitions=exhibitions_current %}
            {% endif %}
        </div>
    </section>
    {% endif %}

    {% if exhibitions_upcoming %}
    <section class="upcoming exhibits">
        <div class="wrap cf">
            <header class="section-header region t-4 d-4 w-4">
                {% if title_section == 'upcoming' %}
                    <h1 class="page-title vh">{% trans 'Exhibitions' %}</h1>
                    <h2 class="section-hed underlined right pg-t-w-1">{% trans 'Upcoming Exhibitions' %}</h2>
                {% else %}
                    <h2 class="section-hed underlined right">{% trans 'Upcoming Exhibitions' %}</h2>
                {% endif %}
            </header>
            {% if exhibitions_upcoming.count == 1 %}
                {% include 'exhibition/upcoming-1.html' with result=exhibitions_upcoming.0 %}
            {% elif exhibitions_upcoming.count == 2 %}
                {% include 'exhibition/upcoming-2.html' with exhibitions=exhibitions_upcoming classes=upcoming_exhibits_classes %}
            {% else %}
                {% include 'exhibition/upcoming-2-plus.html' with exhibitions=exhibitions_upcoming classes=upcoming_exhibits_classes %}
            {% endif %}
        </div>
    </section>
    {% endif %}
    
    {% if exhibitions_past %}
    <section class="past-exhibits lago-grid-container-indented padded-section">
        <div class="wrap">
            <div class="region">
                <header class="section-header">
                {% if title_section == 'past' %}
                    <h1 class="page-title vh">{% trans "Exhibitions" %}</h1>
                    <h2 class="section-title section-hed underlined right pg-t-w-1">{% trans "Past Exhibitions" %}</h2>
                {% else %}
                    <h2 class="section-title section-hed underlined right">{% trans "Past Exhibitions" %}</h2>
                {% endif %}
                </header>
                <ul class="lago-grid m1-one m2-two t-three d-three w-three">
                    {% for exhibition in exhibitions_past %}
                    <li>
                        {% include 'components/tiles/exhibit.html' with exhibition=exhibition img_size='small' type='past' show_artists=False %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}

    <nav class="index-pagination search-results-pagination">
        <div class="wrap">
            <div class="step-links region">
                <span class="current">
                    Page {{ exhibitions_past.number }} of {{ exhibitions_past.paginator.num_pages }}
                </span>
                <span class="prev-options">
                    {% if exhibitions_past.has_previous %}
                        <a href="{% url 'docent:exhibition_index' page=1 %}" class="jump">&laquo; <span class="vh">first</span></a>
                        <a href="{% url 'docent:exhibition_index' page=exhibitions_past.previous_page_number %}" class="increment">previous</a>
                    {% endif %}
                </span>
                <span class="next-options">
                    {% if exhibitions_past.has_next %}
                        <a href="{% url 'docent:exhibition_index' page=exhibitions_past.next_page_number %}" class="increment">next</a>
                        <a href="{% url 'docent:exhibition_index' page=exhibitions_past.paginator.num_pages %}" class="jump"><span class="vh">last</span> &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>

</main>
{% endblock %}