<div class="section-content region t-8 d-8 w-8">
    <ul class="lago-grid {{ classes }}">
        {% for exhibition in exhibitions %}
        <li>
            {% include 'components/tiles/exhibit.html' with exhibition=exhibition img_size='medium' type='upcoming' show_artists=True additional_classes='tile-exhibit-upcoming' %}
        </li>
        {% endfor %}
    </ul>
</div>