<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if artwork %}{{ artwork.title }}{% else %}{% trans "Artwork Detail" %}{% endif %}{% endblock %}

{% block content %}
<main id="main" class="single-work {{ main_classes }}">

    <!-- =======================================
    THE MAIN SECTION w/ title, artist, work, 
    details, contact form
	============================================ -->
    <section class="padded-section">
        <div class="wrap">
            
            <div class="single-details region t-4 d-4 w-4">

                <header class="section-header component">
                    <h1 class="post-title underlined right">{{ artwork.title }}</h1>
                    <p class="artist-name h2"><span class="vh">{% trans "Artist" %}: </span><{{ artwork.artist }}</p>
                </header>

                <div class="single-work-inquiry-prompt-space component">
                    <button id="open-single-work-contact-modal" class="open-contact-modal" data-target="single-work-contact-modal">{% trans "Inquire About This Work" %}</button>
                </div>

                <div class="component">
                    {% if details_list %}
                        <ul class="single-work-details">
                            {% if 'mediums' in details_list %}
                            <li><span>{% trans "Medium" %}</span> {{ details_list.mediums }}</li>
                            {% endif %}
                            {% if 'variations' in details_list %}
                                {% for v in details_list.variations %}
                                    <li><span>{% trans "Size" %} {{ forloop.counter }}</span> {{ v }}</li>
                                {% endfor %}
                            {% endif %}
                            {% if 'size' in details_list %}
                                <li><span>{% trans "Size" %}</span> {{ details_list.size }}</li>
                            {% endif %}
                            {% if 'price' in details_list %}
                                <li><span>{% trans "Price" %}</span> {{ details_list.price }}</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>

            </div>

            {% if artwork.ar_ios or artwork.ar_android %}
			<div class="main-image-space has-ar region t-8 d-8 w-8" data-role="lightbox-create">
                Do AR stuff here first
                {% include 'components/tiles/lightbox-image.html' with image=artwork.featured_image catalogue_work=artwork.featured_image %}
			</div>
			{% else %}
			<div class="main-image-space region t-8 d-8 w-8" data-role="lightbox-create">
                {% include 'components/tiles/lightbox-image.html' with image=artwork.featured_image catalogue_work=artwork.featured_image %}
            </div>
			{% endif %}
        </div>
    </section>

    {% if artwork.artist.description %}
    <section class="artist-about padded-section">
        <div class="wrap">
            <header class="section-header region t-4 d-4 w-4">
                <h2 class="section-hed underlined right">{% trans "About " %}{{ artwork.artist }}</h2>
            </header>
            <div class="section-content region t-8 d-8 w-8">
                {{ artwork.artist.description|safe }}
            </div>
        </div>
    </section>
    {% endif %}

    {% if other_works %}
    <section class="artist-works lago-grid-container-indented padded-section">
        <div class="wrap">
			<div class="region">
				<header class="section-header elem">
					<h2 class="section-hed underlined right">{% trans "Other Work by" %} {{ artwork.artist }}</h2>
                </header>
                <ul class="lago-grid m1-one m2-two t-three d-three w-three">
                    {% for work in other_works %}
                        <li>
                            <div class="tile">
                                <a href="{% url 'docent:artwork_detail' work.id %}">
                                    <img src="{{ work.featured_image.img.crop.350x350 }}" alt="{{ work }}">
                                </a>
                            </div>
                        </li>
					{% endfor %}
				</ul>
            </div>
        </div>
    </section>
    {% endif %}

    {% block footer_js %}
        {{ block.super }}
        {% load static %}
        <script src="{% static 'docent/js/public/src/modaal.js' %}"></script>
        <script src="{% static 'docent/js/public/src/modaal-init.js' %}"></script>
    {% endblock %}

</main>
{% endblock %}