<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
<main id="main" class="{{ main_classes }}">

    {% if post %}
    <!-- =======================================
	THE MAIN SECTION
	============================================ -->
	<section id="section-main" class="section-main" tabindex="-1">
        <div class="wrap cf">
    
            <div class="single-artist-main region t-4 d-4 w-4">                
                <header class="single-artist-header">
                    <h1 class="post-title underlined right">{{ post.title }}</h1>
                    <p>{{ post.created_at }}</p>
                </header>
            </div>  
            
            <div class="single-artist-images region t-8 d-8 w-8">
                {{ post.description|safe }}
            </div>
                        
        </div>
    </section>
    {% endif %}

</main>
{% endblock %}