<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}

<section>
    <div class="wrap">
        <header class="section-header region">
            <h1 class="page-title">We Have a Problem</h1>
        </header>
        <div class="section-content region">
            {{ exception }}
        </div>
    </div>
</section>

    

{% endblock %}