.sidebar-menu h1 {
  box-sizing: border-box;
  color: white !important;
}

.change-form #content-main,
.change-list #content-main,
.container-fluid {
  box-sizing: border-box;
}

.jps-grid-picker-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1rem;
}

.jps-grid-picker-cell {
  position: relative;
}
.jps-grid-picker-cell .title {
  background: none !important;
  display: block !important;
}
.jps-grid-picker-cell .image-label {
  display: none;
}

/*# sourceMappingURL=admin.css.map */
